@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

  @keyframes marquee-left {
    0% {
      transform: translateX(-33.333%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-marquee-right {
    animation: marquee-right 20s linear infinite;
  }

  .animate-marquee-left {
    animation: marquee-left 20s linear infinite;
  }

  .animate-marquee-right:hover,
  .animate-marquee-left:hover {
    animation-play-state: paused;
  }
}
